<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" style="color:white;">CRUD Pessoas</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02"
    aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarColor02">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <button type="button" (click)="openModal('adicionar', undefined)" class="btn btn-dark">Adicionar Pessoa <span
            class="sr-only">(current)</span></button>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input type="search" (ngModelChange)="searchPessoa(key.value)" #key="ngModel" ngModel name="key" id="searchName"
        class="form-control mr-sm-2" placeholder="Pesquisar por pessoas..." required>
    </form>
  </div>
</nav>


<div class="container mt-5" id="main-container">
  <div class="mt-5 table">
    <table class="table">
      <caption></caption>
      <thead class="thead-dark align-middle">
        <tr>
          <th scope="col" class="col-4">Nome</th>
          <th scope="col" class="col-4">Idade</th>
          <th scope="col" class="col-3">Ação</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let pessoa of pessoas">
          <td>{{pessoa.nome}}</td>
          <td>{{pessoa.idade}}</td>
          <td>
            <button type="button" (click)="openModal('editar', pessoa)" class="btn btn-success mr-4">Editar</button>
            <button type="button" (click)="openModal('deletar', pessoa)" class="btn btn-danger">Deletar</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>


  <!-- Salvar -->
  <div class="modal fade" id="addEmployeeModal" tabindex="-1" role="dialog" aria-labelledby="addEmployeeModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="addEmployeeModalLabel">Salvar pessoa</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form #addForm="ngForm" (ngSubmit)="savePessoa(addForm)">
            <div class="form-group">
              <label for="nome">Nome</label>
              <input type="text" ngModel name="nome" class="form-control" id="nome" placeholder="Nome" required>
            </div>
            <div class="form-group">
              <label for="idade">Idade</label>
              <input type="idade" ngModel name="idade" class="form-control" id="idade" placeholder="Idade" required>
            </div>
            <div class="modal-footer">
              <button type="button" id="close-form" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
              <button [disabled]="addForm.invalid" type="submit" class="btn btn-primary">Salvar</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>


  <!-- editar -->
  <div class="modal fade" id="updateEmployeeModal" tabindex="-1" role="dialog" aria-labelledby="employeeEditModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="updateEmployeeModalLabel">Editar Pessoa {{editarPessoa?.nome}}</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div>
          <div class="modal-body">
            <form #editarForm="ngForm">
              <input type="hidden" ngModel="{{editarPessoa?.id}}" name="id" class="form-control" id="id"
                placeholder="id">
              <div class="form-group">
                <label for="nome">Nome</label>
                <input type="text" ngModel="{{editarPessoa?.nome}}" name="nome" class="form-control" id="nome"
                  placeholder="Nome">
              </div>
              <div class="form-group">
                <label for="idade">Idade</label>
                <input type="text" ngModel="{{editarPessoa?.idade}}" name="idade" class="form-control" id="idade"
                  placeholder="Idade">
              </div>

              <div class="modal-footer">
                <button type="button" id="" data-dismiss="modal" class="btn btn-secondary">Cancelar</button>
                <button (click)="updatePessoa(editarForm.value)" data-dismiss="modal"
                  class="btn btn-primary">Atualizar</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Deletar -->
  <div class="modal fade" id="deleteEmployeeModal" tabindex="-1" role="dialog" aria-labelledby="deleteModelLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="deleteModelLabel">Deletar</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>Quer mesmo deletar {{deletarPessoa?.nome}}?</p>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Não</button>
            <button (click)="deletePessoa(deletarPessoa!.id)" class="btn btn-danger" data-dismiss="modal">Sim</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Notification para tabela vazia -->
  <div *ngIf="pessoas?.length == 0" class="col-lg-12 col-md-12 col-xl-12">
    <div class="alert alert-info" role="alert">
      <h4 class="alert-heading">Lista Vazia!</h4>
      <p>Nenhuma pessoa foi encontrada.</p>
    </div>
  </div>

</div>
